#row {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #ddd;
}
.coln {
    width: 20%;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    height: 100%; 
}

.coln h1 {
    font-size: 2rem;
}

.coln img {
    width: 30%;
}

